html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffb8c1;
    overflow: auto;
    height: 3000px;
    width: 0;
    overflow: auto;
}

.container {
    position: absolute;
    display: flex;
    width: 400px;
    height: 300px;
    overflow-x: scroll;
    gap: 0.2rem;
    background-color: transparent;
    top: 80px;
    overflow: hidden;
}

.puisi {
    margin: 5px;
    padding: 10px;
    position: absolute;
    top: 750px;
    background-color: #b8cde1;
    width: 340px;
    height: 200px;
    border: 2px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.puisi h1 {
    font-size: 24px;
    margin-top: 1px;
}

.container-
}
.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card {
    position: absolute;
    cursor: pointer;
    width: 250px;
    height: 250px;
    left: 22.5%;
    top: 390px;
    text-align: center;
}
.front,
.dialog {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}
.front {
    transform: perspective(600px) rotateY(0deg);
    background-color: lightblue;
}
.dialog {
    background: #b8cde1;
    transform: perspective(600px) rotateY(160deg);
}
.dialog-back {
    display: grid;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    top: 25px;
}
.sm {
    margin: 20px 0;
}
.card:hover>.front {
    transform: perspective(600px) rotateY(-180deg);
}
.card:hover>.dialog {
    transform: perspective(600px) rotateY(0);
}
.about {
    position: absolute;
    top: 1000px;
    padding: 50px;
}
.about h1 {
    font-size: 18px;
    margin-bottom: 1px;
    left: 100px;
    position: relative;
    top: -80px;
}
.about p {
    margin-top: 17px;
    left: 100px;
    position: relative;
    top: -100px;
}
.about a {
    left: 100px;
    position: relative;
    top: -83px;
    font-weight: bold;
}
.about img {
    float: left;
    padding-top: 100px;
    width: 250px;
    height: 350px;
}
.service {
    position: absolute;
    top: 2000px;
}
.nav-bar {
    height: 70px;
}
.brand {
    position: fixed;
    padding-left: 20px;
    line-height: 70px;
    font-size: 1.5rem;
    display: block;
    background-color: #ffb8c1;
    height: 67px;
    width: 335px;
    top: 0;
}
.brand b {
    text-decoration: none;
    color: white;
}
.nav-container {
    margin: 0 auto;
}
nav {
    float: right;
}
nav ul {
    list-style: none;
}
nav ul li {
    position: relative;
}
nav ul li a {
    position: relative;
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background: #ffb8c1;
    text-decoration: none;
    color: #fff;
}
nav ul li a:hover {
    background: lightblue;
    color: #fff;
}
nav ul li a:not(:only-child):after {
    content: '▼';
    padding-left: 5px;
}
nav ul li ul li {
    min-width: 190px;
}
nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}
.nav-mobile {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 70px;
    width: 70px;
}
.nav-list {
    padding-left: 0;
    position: fixed;
    top: 50px;
    width: 400px;
}
.nav-list a {
    padding-left: 20px;
    top: 0;
}
#nav-toggle {
    position: absolute;
    left: 50%;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 15px 0px;
}
#nav-toggle span,
#nav-toggle span::before,
#nav-toggle span::after {
    position: absolute;
    display: block;
    content: '';
    background: #fff;
    height: 5px;
    width: 35px;
    transition: all 300ms ease-in-out;
}
#nav-toggle span::before {
    top: -10px;
}
#nav-toggle span::after {
    bottom: -10px;
}
#nav-toggle.active span {
    background-color: transparent;
}
#nav-toggle.active span::before,
#nav-toggle.active span::after {
    top: 0;
}
#nav-toggle.active span::before {
    transform: rotate(45deg);
}
#nav-toggle.active span::after {
    transform: rotate(-45deg);
}
@media only screen and (max-width: 768px) {
    .nav-mobile {
        display: block;
        margin: 0;
        padding: 0;
    }
    
    nav {
        width: 100%;
        padding: 70px 0 15px;
    }
    
    nav ul {
        display: none;
    }
    
    nav ul li {
        float: none;
    }
    
    nav ul li a {
        padding: 15px;
        line-height: 20px;
        padding-left: 25%;
    }
    
    nav ul li ul li a {
        padding-left: 30%;
    }
    
    .nav-dropdown {
        position: static;
    }
}
@media screen and (min-width: 799px) {
    .nav-list {
        left: 50%;
        display: block !important;
    }
    
    .main {
        position: relative;
        height: 100vh;
        padding: 0;
        margin: 0;
    }
    
    .indroduction {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}